@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  background-color: #121212;
  overflow: hidden;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0)
  }

  60%,
  100% {
    transform: translate(-50%, -50%) scale(1)
  }
}

@keyframes pulse {

  0%,
  60%,
  100% {
    transform: scale(1)
  }

  80% {
    transform: scale(1.2)
  }
}



.eraser {
  border-radius: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0s cubic-bezier(.02, 1.23, .79, 1.08);
}